@model hotelapp_frontend.Models.Reservaciones

@{
    ViewData["Title"] = "Reservation Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="confirmation-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation-content">
                    <h2>Rezervasyon Onaylandı</h2>
                    <p>Rezervasyon Bilgileriniz:</p>
                    <ul>
                        <li>Oda Numarası: @Model.IDHabitacion</li>
                        <li>Giriş Tarihi: @Model.FechaInicio.ToShortDateString()</li>
                        <li>Çıkış Tarihi: @Model.FechaFin.ToShortDateString()</li>
                        <li>Toplam Gece: @Model.CantidadNoches</li>
                        <li>Toplam Maliyet: @Model.Costo_Total TL</li>
                    </ul>
                    <p>Konaklamanızda bizi tercih ettiğiniz için teşekkür ederiz. Sizi misafirimiz olarak görmek için sabırsızlanıyoruz!</p>
                    <a class="btn btn-primary" href="@Url.Action("Index", "Home")">Devam Et</a>
                </div>
            </div>
        </div>
    </div>
</section>

